.loginForm{
    background: #E7F5FE;
    width: 30%;
    height: 50%;
    padding: 50px;
    margin: 5% 15% ;
    overflow: auto;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    position: fixed;
}
div{
    margin: 10px;
}
input{
    padding: 15px;
    border-radius: 5px ;
    width: 220px;
}
